[Desktop Entry]
Type=Application
Name=EasyAmp
GenericName=Music Player
Comment=Classic-player-style media player with a 10-band EQ
Exec=easyamp
Icon=codes.vonholten.EasyAmp
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;player;equalizer;eq;audio;
